<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/links">Shortly</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/links">Links</a></li>
      <li><a href="#/shorten">Shorten</a></li>
      <li><a ng-click='logout()'>Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <form class="addlink" ng-submit="addLink(link)">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="link.url" placeholder="http://">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Shorten!</button>
      </span>
    </div>
  </form>
  <div class="list-group">
    <div class="list-group-item" ng-if="postedLink" ng-model="postedLink">
      <span class="badge">{{postedLink.visits}}</span>
      <h4 class="media-heading">{{postedLink.title}}</h4>
      <span>{{postedLink.url}}</span><br>
      <a class="link" href='/api/links/{{postedLink.code}}'>{{postedLink.base_url}}/api/links/{{postedLink.code}}</a>
    </div>
    <div ng-if="err" class="alert alert-danger" role="alert" ng-model="err">{{err}}</div>
  </div>
  <img ng-if="waiting" src="/assets/spiffygif_46x46.gif"/>
</div>