<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/links">Shortly</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/links">Links</a></li>
      <li><a href="#/shorten">Shorten</a></li>
      <li><a ng-click='logout()'>Logout</a></li>
    </ul>
  </div>
</nav>
<div id='container'>
  <div id='layout'>
    <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li class='logout'><a ng-click='logout()'>Logout</a></li>
    </ul>
    </div>
  </div>
  <form ng-submit="addLink(link)">
    <input id="url" ng-model="link.url" placeholder="What would you like to shorten?">
    <button type="submit">Shorten</button>
  </form>
  <div class="link" ng-if="postedLink" ng-model="postedLink">
    <img src='/assets/redirect_icon.png'/>
    <div class='info'>
      <div class='visits'><span class='count'>{{postedLink.visits}}</span>Visits</div>
      <div class='title'>{{postedLink.title}}</div>
      <div class='original'>{{postedLink.url}}</div>
      <a href='{{postedLink.base_url}}/api/links/{{postedLink.code}}'>{{postedLink.base_url}}/api/links/{{postedLink.code}}</a>
    </div>
  </div>
  <img ng-if="waiting" src="/assets/spiffygif_46x46.gif"/>
  <div ng-if="err" ng-model="err">
    <h5 class="error">Error: {{err}}</h1>
  </div>
</div>