<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/links">Shortly</a>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/links">Links</a></li>
      <li><a href="#/shorten">Shorten</a></li>
      <li><a href="#" ng-click='logout()'>Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="list-group">
    <div class="list-group-item" ng-repeat="link in data.links | filter:search" ng-model="link">
      <span class="badge">{{link.visits}}</span>
      <h4 class="media-heading">{{link.title}}</h4>
      <span>{{link.url}}</span><br>
      <a class="link" href='/api/links/{{link.code}}'>{{link.base_url}}/api/links/{{link.code}}</a>
    </div>
  </div>
</div>
